In [17]:
#just a file for test building functions


import math as m
import numpy as np
import pandas as pd


df = pd.read_csv('angles.txt', sep = ' ')


#degree = deg + mins/60 + sec/3600
#radians = np.radians(degree)
#drop DMS
#df = df.drop(columns = ["Degrees", "Minutes", "Seconds"])
#add degrees
#df["Radians"] = radians

   From  At  To  Degrees  Minutes  Seconds  StDev[rad]
0     A  P1   B       84        7     38.2    0.000007
1    P1   B   A       37       46     34.9    0.000007
2     B   A  P1       58        5     44.1    0.000007
3     C   B  P1       33        3      3.2    0.000007
4     B  P1   C      126        1     55.7    0.000007
5    P1   C   B       20       55      2.3    0.000007
6    P1   A  P2       74       18     16.8    0.000007
7    P2  P1   A       77       27     59.1    0.000007
8     A  P2  P1       28       13     58.2    0.000007
9    P1  P2   C       55       21      9.9    0.000007
10    C  P1  P2       72       22     25.8    0.000007
11   P2   C  P1       52       16     20.7    0.000007

In [2]:
from LeastSquares import LS

LS().c

matrix([[4899.844],
        [ 130.814],
        [8781.945],
        [1099.443],
        [4548.795],
        [7572.622]])

In [ ]:
impo